@model IEnumerable<Rent.Web.Data.Entities.VehiculoCaracteristica>

@{
    ViewData["Title"] = "Index";
}

<h2>Caracteristica Vehiculo</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
