@model IEnumerable<Rent.Web.Data.ModeloVehiculo>

@{
    ViewData["Title"] = "Index";
}

<h2>Marca Vehículos</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Nueva Marca</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a>*@
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
